dist
dist-newstyle
.ghc.environment.*
cabal.project.local
cabal.bench.project.local
.cabal-sandbox/
cabal.sandbox.config
.stack-work/
.stack-work-bench/
*.yaml.lock
.bench-results

*.o
*.hi
*.nix
*.swp
.\#*
\#*

# Emacs backup files
*~

benchmarks/AesonEncode

tests/qc

cabal.sandbox.config
